<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Lifeline - Dashboard</title>
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

  <style>
    header {
		background-color: #3399ff;
		padding: 30px;
		text-align: center;
		font-size: 35px;
		color: yellow;
	}
	
	label.dotted {
		border-style: dotted;
	}
	label.double {
		border-style: double;
	}
	label.insert {
		border-style:insert;
	}
	header.solid {
		border-style: solid;
		border-color: black;
	}
	</style>
</head>

<body class="bgcolor">
  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">Lifeline</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
        </div>
      </li>
    </ul>

  </nav>

  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Home</span>
      </a>
    </li>
  </ul>

  <div id="content-wrapper">

    <!-- Main Body -->
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <header class="solid">
            <h1> create the game quiz</h1>
          </header>
        </div>
      </div>

      <!-- Quiz Creation Form Section -->
      <div id="application">
          <form class="quiz-creator application">

            <!-- Quiz Attributes Section -->
            <div class="row align-items-center">
              <div class="col">
                <div class="form-group">
                  <div class="row">
                    <label id="quizTitleLabel" for="quizTitleInput">Quiz Title</label>
                    <input type="text" class="form-control" id="quizTitleInput" placeholder="Enter the quiz title" autofocus>
                  </div>
                  <div class="row">
                    <label id="quizCategoryLabel" for="quizCategoryInput">Quiz Category</label>
                    <input type="text" class="form-control" id="quizCategoryInput" placeholder="Enter the quiz category">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label id="quizDescriptionLabel" for="quizDescriptionInput">Quiz Description</label>
                  <textarea class="form-control" id="quizDescriptionInput" placeholder="Describe your quiz" rows="4"></textarea>
                </div>
              </div>
            </div>
            <!-- End Quiz Attributes Section -->

            <div class="row justify-content-center">
                <div class="col">
                  <h2>Question Creation Section</h2>
                </div>
                <div class="col">
                  <h3 id="total-questions">Total questions: 0</h3>
                </div>
            </div>

            <!-- Quiz Questions Section -->
            <div class="row">
              <div class="col-3">
                <div class="form-group">
                  <div class="row">
                    <label for="questionTypeInput">Question Type</label>
                    <select class="form-control" id="questionTypeInput" >
                      <option>Multiple Choice</option>
                      <option>True or False</option>
                      <option>Written Response</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
              <div id="questions">
              </div>
              <div class="row justify-content-center">
                  <a href="#" class="btn btn-secondary" onclick="addQuestion()">Add another question</a>
              </div>
              <div class="row justify-content-center">
                  <a href="#" id="create_quiz" class="btn btn-primary">Create quiz</a>
              </div>

            <!-- End Quiz Questions Section -->

          </form>
      <!-- End Quiz Creation Form Section -->

    </div>
  </div>
  <br>
  <!-- End Main Body -->



  <!-- Sticky Footer -->
  <footer class="sticky-footer">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright © Lifeline 2018</span>
      </div>
    </div>
  </footer>

  <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- functions for the page -->
  <script src="../socket.io/socket.io.js"></script>
  
  <script src="js/sb-admin.min.js" type="text/javascript"></script>
  <script src="js/create_assessment.js" type="text/javascript"></script>
</body>

</html>
