<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>App</title>
</head>
<body>
  <ul>
    <li>{{ message }}</li>
    <li><a href="testAnimation">Test Animation 1</a></li>
    <li><a href="bubbles">Test Animation 2 (Bubbles)</a></li>
  </ul>
</body>
</html>