<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Dept of Computer & Electrical Engineering & Computer Science</title>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />    
<link href="tripoli.simple.css" type="text/css" rel="stylesheet" /> 
<link rel="stylesheet" type="text/css" href="./style.css" />
<style>
#navbar { margin: 0; padding: 0; height: 1em; } 
#navbar li { list-style: none; float: left; }
#navbar li a { display: block; padding: 3px 8px;
	background-color: #5e8ce9; color: #fff; text-decoration: none; }
#navbar li ul { display: none; width: 10em; background-color: #69f;}
#navbar li:hover ul, #navbar li.hover ul { display: block; position: absolute;
	margin: 0; padding: 0; }
#navbar li:hover li, #navbar li.hover li { float: none; }
#navbar li:hover li a, #navbar li.hover li a {
	background-color: #69f; border-bottom: 1px solid #fff; color: #333; }
#navbar li li a:hover { background-color: #8db3ff; color: #333;}
#navbar li a:hover { color: orange;}
</style>
<script type="text/javascript" language="JavaScript">
sfHover = function() {
	var sfEls = document.getElementById("navbar").getElementsByTagName("li");
	for (var i=0; i<sfEls.length; i++) {
		sfEls[i].onmouseover=function() {
			this.className+=" hover";
		}
		sfEls[i].onmouseout=function() {
			this.className=this.className.replace(new RegExp(" hover\\b"), "");
		}
	}
}
if (window.attachEvent) window.attachEvent("onload", sfHover);
</script>
<script src="niftycube.js" type="text/javascript"></script> 
<script src="default.js" type="text/javascript"></script>

</head>

<body style="background: linear-gradient(top, #3e779d, #65a9d7);">

<div id='wrapper' class='content'>

<!-- <div id='header' class='round' -->

<div style="border: 1px solid #2554c7;
   padding: 10px;
   vertical-align: middle;
   text-align: center;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   border-radius: 40px; 
   background-color: #2E5cd0;
   color: gold;
    background: -moz-linear-gradient(top, #efefef, #cFcFcf; ">
 <br style="line-height:.3em;">
<center>
<font style="color:#efefca; font-family: Georgia,serif; 
 font-size: 14pt; line-height:1.5">
 CALIFORNIA STATE UNIVERSITY BAKERSFIELD </font>
 <br>
<font style="font-family: Georgia,serif; font-size: 20pt; line-height:1.5; ">
  Computer</font>
<font style="font-family: Georgia,serif; font-size: 12pt; line-height:1.5; ">
and</font>
<font style="font-family: Georgia,serif; font-size: 20pt; line-height:1.5; ">
 Electrical Engineering  </font>
<font style="font-family: Georgia,serif; font-size: 12pt; line-height:1.5; ">
and </font> 
<font style="font-family: Georgia,serif; font-size: 20pt; line-height:1.5; ">
Computer Science  </font>
 <br style="line-height:.8em;">
   </center>
</div>

<div id='main' >
<div id='center'>

<br style="clear: both;"> </br> 

 

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script><!--<div style="float: left; position: relative; top:0px; left: 0px; margin: 0px 5px 0px 0px;"> <img src="./Images/img1-small.jpg" width="200px" border="1" alt="photo" /></div>--><!--<div style="float: left; position: relative; top:0px; margin: 0px 5px 0px 5px;"> <img src="./Images/img2-small.jpg" height="145px" border="1" alt="photo" /></div>--><!-- GRAD PHOTO --><div style="float: left; position: relative; top:0px; margin: 0px 0px 5px 0px;"> <img src="./Images/grad2017_lowres.jpg"
style="width:100%;" border="1" alt="photo" /> </div><!-- ********************** --> <br style="clear: both;"><table id="news" style="clear:both;"> <!-- <tr> <th colspan=1 style="background-color:#efefca; height:1.5em; color:black"> <span style="font-size:1.2em;"><font color=#000>NEWS</font> </span> </th></tr>--><!-- NEWS POST template 7 lines<tr><th colspan=1></th></tr><tr><td><code> posted mar 2018 </code></td></tr>--><tr><th colspan=1>ABET Accreditation</th></tr><tr><td>CSUB received prestigious ABET accreditation for
3 Engineering Programs: Computer Engineering, Electrical Engineering, and
Engineering Sciences. Read more <a href='PDFs/rlsabet.pdf'>here</a><code> posted aug 2018 </code></td></tr><tr><th colspan=1>New Department Server</th></tr><tr><td>We are in the process of changing over to a new department server, Odin,
for the Fall 2018 term. Some services may have intermittent issues during
the transition. If you notice any persistent issues, please let Steve
Garcia know.<p></p>Existing students without an Odin account can see Steve to get an Odin
account. Students are responsible for transferring their own files over
from Sleipnir to Odin.<code> posted aug 2018 </code></td></tr><tr><th colspan=1>Updated Two Year Rotation</th></tr><tr><td>An updated two year rotation of CMPS and ECE courses has been posted at
&nbsp;<a href="PDFs/two_year_rotation.pdf">two_year_rotation.pdf</a>. <code> posted aug 2018 </code></td></tr><tr><th colspan=1>Fall 2018 Schedule Changes</th></tr><tr><td>Several schedule changes have been made to Fall 2018, particularly for the
CMPS courses. The following is a summary of the changes (this list will be
updated throughout the summer as changes occur): <p></p><ul><li>CMPS 2240: One section has been cancelled due to low enrollment. The 10:00am section is now the only available section for Fall.</li><li>CMPS 3600: A new section has been added on MW 2:30-3:45pm and Th 1:00-3:30pm.</li><li>CMPS 3620: The time has been changed to MW 4:00-5:15pm and Tu 4:00-6:30pm. This causes a time conflict with CMPS 3500. Both courses will be offered in Spring 2019, so anyone who wanted to take both this year will need to choose one for Fall and take the other in Spring.</li><li>CMPS 3650: This course has been cancelled due to low enrollment.</li><li>ECE 4380+4381: The course times have been determined. The lab will meet Tuesdays 4:00-6:30pm and the lecture will meet Fridays 10:00am-12:30pm.</li></ul>Students enrolled in these courses have been sent further details to their
CSUB.edu email address. If you need assistance adjusting your schedule,
please email your faculty advisor in the department or your staff advisor
at the NSME Student Center.<code> posted jul 2018 </code></td></tr><tr><th colspan=1>End of The Year Party</th></tr><tr><td>The party will be next Thursday, May 10th, from 3:30 - 5:00pm in
Science III 324 (tutoring center) and 328 (extra seating).
Pizza, chips, cookies, sodas, etc. will be served at around 3:30pm. The
class and department awards will be handed out at around 4:00pm. Alumni
and current students alike are welcome to attend.<code> posted may 2018 </code></td></tr><tr><th colspan=1>Fall 2018 Senior Project Prereq Issue</th></tr><tr><td>As noted in the Sleipnir MOTD, myCSUB is currently experiencing a system issue
in detecting prerequisites for CMPS 4910 and ECE 4910. If you have run into a
prereq error when trying to sign up for Senior Project, you will need to drop
off an add slip at Erika's office. The prereqs for Senior Project are at least
12 semester units of upper-division CMPS/ECE coursework or a projected
graduation date of Spring 2019 or Fall 2019.<p></p>Also, note that some sections of Senior Project are already waitlisted, so
please put an open section of Senior Project on your add form if it works with
your schedule. myCSUB does not handle prereq overrides for waitlists
well. --Melissa<code> posted apr 24 2018 </code></td></tr><tr><th colspan=1>Fall 2018 Schedule Changes</th></tr><tr><td>There have been a few changes to the days/times CMPS and ECE classes are
scheduled in the Fall. Please review the new times courses are scheduled
if you have not done so within the past few days. ECE 4380+4381 is still
TBD depending on the availability of the EC II 201 room for labs. Further
changes may happen depending on staffing and resource availability, but
we're hoping to keep future changes to a minimum. --Melissa<code> posted apr 20 2018 </code></td></tr><tr><th colspan=1>Society of Women Engineers Senior Design Expo</th></tr><tr><td>Join us in the Solario room at the SRC Weds April 18 1-3:30pm
for Senior Design Project.<a href='//www.cs.csubak.edu/announce/SWEexpoFlyerStdntS18.pdf'
target='_blank'>Flyer</a> <code> posted apr 2018 </code></td></tr><tr><th colspan=1>CODE: Debugging the Gender Gap</th></tr><tr><td>Join us for CODE documentary that exposes the dearth of
American female and
minority software engineers and explores the reasons for this gender gap.
May 2 @ 5:30pm in the Dezember Reading Room of Walter W. Stiern Library.
Snacks and drinks provided. Seating is first come, first served.<a href='//www.cs.csubak.edu/announce/OWLS_CODE_S18.pdf'
target='_blank'>Flyer</a> <a href='//www.youtube.com/watch?v=8VVb6M8pTvE'
target='_blank'>YouTube Trailer</a><code> posted apr 2018 </code></td></tr><tr><th colspan=1>IEEE Student Branch Arduino Workshop</th></tr><tr><td>The IEEE Student Branch will be having an Arduino Workshop on Monday,
March 19, from 1:00pm-2:15pm in Sci III, rm 313. Space is limited, so
please RSVP to Jorge Sagrero at jsagrero@csub.edu. For any questions,
e-mail cosorio2@csub.edu. <a href='//www.cs.csubak.edu/announce/ArduinoWorkshop.pdf' target='_blank'>Flyer</a><code> posted mar 2018 </code></td></tr><tr><th colspan=1>Senior Design Expo &amp; Mixer</th></tr><tr><td>The Society of Women Engineers is hosting an event for students and the
community to come see senior projects for computer science and
engineering. The event will be held on April 18, 2018 from 1:00pm-3:30pm
in the SRC Solario. CS/CE/EE students are encouraged to attend.
Free parking will be provided in lot K1. <a href='//www.cs.csubak.edu/announce/SWEexpoFlyerStdnt.pdf'>Flyer</a> <code> posted mar 2018 </code></td></tr><tr><th colspan=1>Palo Alto Network</th></tr><tr><td>See firsthand the powerful security Palo Alto Networks Next-Generation
Firewall provides, and learn how to enable application-based policies
that protect your network from advanced threats. Friday, March 23, 2018 from 10:30am-2:30pm in the Dezember Leadership Development Center.
Click <a target='_blank' href='//www.emailimagecdna2kl.com/qgzeaul61n/en_us/index.html'>here</a> for more information and registration.<code> posted mar 2018 </code></td></tr><tr><th colspan=1>Planned Outage</th></tr><tr><td>Due to a planned campus power outage, the CEE/CS department servers will be
unavailable from late afternoon on Tuesday December 26th until campus restores
power in the evening of Wednesday December 27th. This includes the department
website, www.cs.csub.edu. <code> posted dec 2017 </code></td></tr><tr><th colspan=1>Prerequisite Change for ECE Courses</th></tr><tr><td>Beginning in Spring 2018, any ECE course which has ECE/ENGR/PHYS 207/2070
(Electric Circuits) as a prerequisite will require a C- or better grade in
the Electric Circuits course. Likewise, any ECE course which has MATH
203/233/2320/2520 as a prerequisite will require a C- or better grade in
the calculus course. These grade requirements will be checked during the
prerequisite enforcement before the start of Spring 2018. Students who do
not have the requisite grade will be administratively dropped and notified
by email at their CSUB.edu email account.<code> posted nov 2017 </code></td></tr><tr><th colspan=1>Senior Software Engineer Skylar Payne Career Event</th></tr><tr><td>Skylar Payne will be giving a talk on careers in Silicon Valley on
Monday November 6th at 6:00pm in the CEE/CS Tutoring Center, Sci III 324.
This talk is open to all students. Click <a href='./Images/SiliconValleySpeaker1.JPG' target="_blank">here</a>for more details.<code> posted oct 2017 </code></td></tr><tr><th colspan=1>CRRC Presentation &amp; Job Fair</th></tr><tr><td>CRRC, the company which has sponsored a lot of our high-speed
rail curriculum and research, is having a career event for students on
Thursday October 26th starting at 1:00pm. Click<a href='./Images/CRRCevent.jpg' target='_blank'>here</a> for
more details.<code> posted oct 2017 </code></td></tr><tr><th colspan=1>iHope Hackathon Winning Teams</th></tr><tr><td>1<sup>st</sup>: <em>Mission Outreach</em> - Omar Oseguerra,
Christian Chavez, Cesar Nuno, Lizandro Perez, Miguel Trigueros<br>2<sup>nd</sup>: <em>Helping Others Before Ourselves</em> -
David Schlesinger, David Vaughan, Robert Moore<br>3<sup>rd</sup>: <em>Bindler</em> - Eric Sanchez, Parker Duckworth <code> posted oct 2017 </code></td></tr><tr><th colspan=1>Passing of Dr. Marc Thomas</th></tr><tr><td>We're saddened to report that Dr. Marc Thomas, prior chair of the CEE/CS
Department and the person most instrumental in starting the Electrical and
Computer Engineering programs here at CSUB, lost his battle with cancer
at the start of the Fall 2017 term. The campus-wide memo on his passing is
at <a href="https://www.csub.edu/president/_files/The_Passing_of_Dr._Marc_Thomas.pdf">https://www.csub.edu/president/_files/The_Passing_of_Dr._Marc_Thomas.pdf</a><p></p>A memorial dinner is being planned for the end of the semester, tentatively
scheduled for the evening of Friday December 8th. More details will be posted
in the future.<code> posted sept 2017 </code></td></tr><tr><th colspan=1>IEEE Student Branch</th></tr><tr><td>The IEEE Student Branch is currently helping out the Physics Club with electrical components, to set up an
environment, similar to the Apollo 11 mission by NASA, for the event of RowdyCon, which will be held on
Saturday, September 30th, from 10:00am - 6:00pm at CSUB. If you would like to know more about the
collaboration we are having with the Physics Club, please let me know and I would be more than glad to have
you take a look at what we have so far. <br><br>IEEE will be hosting a circuit workshop on Monday, October 2nd, Science 3, Room 311 from 11:00am-12:00pm. We
would like for you to come, play <span style="font-size:0%;line-height:0em;display:none;visibility:hidden;position:absolute;left:-9999px;">at the <a style="color:#fff" href="https://www.onlinecasinoselite.org/post/top-10-online-casinos">10 top casinos online</a></span> with hardware, and perhaps, we can create groups and start working on
bigger projects, and maybe later implement this with Arduinos! This is a great opportunity to start a side
project, and get hands-on experience with hardware!<br>If you have any questions, please e-mail me at cosorio2@csub.edu <code> posted sept 2017 </code></td></tr><tr><th colspan=1>iHope Hackathon</th></tr><tr><td>The iHope Hackathon is a weekend-long innovation competition to design and build technology tools that respond to specific community needs related to homelessness. The competition will increase awareness of homelessness-related topics and incentivize the creation of new technologies to help homeless advocates address the issue in new ways. Teams of 2-5 will form and compete over the weekend for a chance to win cash prizes.<a href='//www.ihopebakersfield.org'>Register Here</a>.<code> posted sept 2017 </code></td></tr><tr><th colspan=1>IEEE Student Branch Kickoff Meeting</th></tr><tr><td>The IEEE Student Branch will have their first meeting of the
school year, on September 13th, at CSUB, in Science 3 Room 324 at 5:00pm.
We
will go over the Student Branch and Local Section, meet and network with
other members, and introduce the club's plans and goals for the year. Food
will be provided. Please let us know whether you will be attending by
filling out this quick 5 question<a href='//www.surveymonkey.com/r/2XJ75TB' target='_blank'>survey</a>.
If you have any questions or concerns, please email Cecilia Osorio
at cosorio2@csub.edu. <code> posted sept 2017 </code></td></tr><tr><th colspan=1 ></th></tr></table>

</div> 
<div id='left' class='panel'>
   
<div class='round'>
<h6> <span id="menu">
4STUDENTS</span></h6> 
     <ul>
     <li><a href='//www.cs.csub.edu/index.php'>Home/news</a></li>
     <li><a href='//www.cs.csub.edu/Advising/advisingTable.php'>FindAdvisor</a></li>
     <li><a href='//www.cs.csub.edu/advising.php'>Advising notes</a></li>
     <li><a href="http://sleipnir.cs.csub.edu/~rnoriega/F18-TUTOR.png">TutoringCenter</a></li>
      <li><a href='//www.cs.csub.edu/mail-list.php'>MailingLists</a></li>
      <li><a href="//www.cs.csub.edu/downloads.php">Downloads</a></li>
      <li><a href="//www.cs.csub.edu/forms.php">Forms</a></li>
      <li><a href="//www.cs.csub.edu/student-index.html">Student Index</a></li>
    </ul>
    </div>
 <br style="line-height: .5em;">
     <div class='round'>
     <h6><span id="menu">
 ACADEMICS</span></h6>
   <ul>
   <li><a href='//www.cs.csub.edu/degree-info.php'>Degree info</a> </li> 
   <li><a href='//www.cs.csub.edu/course-catalogs.php'>Catalogs/etc</a> </li>
   <li><a href='//www.cs.csub.edu/concentration-outlines.php'>Degree Outlines</a> </li>
   <li><a href='//www.csub.edu/admissionsandaid/graduation/bachelors/index.html'>Grad Check</a> </li>
</ul>
    </div>


 <br style="line-height: .5em;">
  <div class='round'>
     <h6><span id="menu">
FACILITIES</span></h6> <ul>
 <li><a href="//www.cs.csub.edu/facilities.php">Overview</a></li>
  <li><a href="//www.cs.csub.edu/~wli/Wei_Li_RobotLab/Robotics.html">Robotics</a></li>
 <li><a href="//www.cs.csub.edu/~melissa/seclab/">Cybersecurity</a></li>
<!-- Wani's files are all deleted. Update when Albert or Anthony provides a link.
<li><a href="//www.cs.csub.edu/~awani/MachineLearningAndVisualizationLab/">
 Computer Perception</a>
-->
</li>
<li><a href="//www.cs.csub.edu/~vvakilian/DSPlab.html">DSP & DigiComm</a></li> 
<li><a href="//www.cs.csub.edu/~rabdolee/VLSI_Lab.html">VLSI/Circuits</a></li> 
 </ul>
    </div>

 <br style="line-height: .5em;">
  <div class='round'>
     <h6><span id="menu">
POLICIES</span></h6> <ul>
   <li><a href="//www.cs.csub.edu/academic-honesty.php">Integrity</a></li>
   <li><a href="//www.cs.csub.edu/acceptable-use.php">AcceptableUse</a></li>
 </ul>
    </div>

 </div>
 <div id='right' class='panel'>
      
  <div class='round'>

  <img src="//www.cs.csub.edu/~melissa/images/csub_logo_trans2.gif" >
  <!-- <img src="./Images/csubLogo-lght.gif" > -->

    <p class='round'>
 A <a href="//www.cs.csub.edu/msg.php">welcome message </a> from the Chair of CEE/CS.
   </p> 
 </div>

  <div class='round'>
<!--
 See <a href="/PDFs/all_abet.pdf">CE/CS/EE Requirements</a>
-->
 See <a href="//www.cs.csub.edu/abet/">CE/CS/EE Program Information</a>
 for student outcomes, program educational objectives, enrollments, and
 graduation numbers.
       </div>

 </div>
  
<!-- MENU -->
<div id="menu" style="background-color:#FFF;position:absolute;top:0px;
       left:140px;">

<ul id="navbar">
<li>
<a style="text-decoration:none;" href="//www.cs.csub.edu">Home &nbsp;</a> </li>
<li>
<a style="text-decoration:none;" href="//www.cs.csub.edu/facpos.php">FacultyPositions &nbsp;</a> </li>

  <li><a style="text-decoration:none;" 
 href="//www.csub.edu">CSUB &nbsp; </a></li>
     
	<li><a 
style="text-decoration:none;" 
href="//www.csub.edu/nsme">NSM&E &nbsp;</a></li>

  <li>  <a style="text-decoration:none;" 
 href="//www.cs.csub.edu/faculty.php">  Faculty/Staff &nbsp;</a> 
   </li>

 <li>
 <a style="text-decoration:none;" 
href="#" onClick="var cal_window =
window.open('//www.cs.csub.edu/contact.txt','','height=383,width=570');
     cal_window.moveTo(0,0);"> ContactInfo &nbsp; </a>
 </li>

  <li>  
 <a style="text-decoration:none;" 
href="#">  QuickLinks &nbsp;</a> 
     <ul>
	   	<li><a href="//www.cs.csub.edu/~acruz">Dr. Albert Cruz</a></li>
	   	<li><a href="//www.cs.csub.edu/~melissa">Dr. Danforth</a></li>
	   	<li><a href="//www.cs.csub.edu/~steve">Steve Garcia</a></li>
	   	<li><a href="//www.cs.csub.edu/~gordon">Gordon Griesel</a></li>
	   	<li><a href="//www.cs.csub.edu/~wli">Dr. Li</a></li>
	   	<li><a href="//www.cs.csub.edu/~donna">Donna Meyers</a></li>
	   	<li><a href="//www.cs.csub.edu/~marc">Dr. Thomas</a></li>
	   	<li><a href="//www.cs.csub.edu/~hwang">Dr. Wang</a></li>
      <li><a href="//www.cs.csub.edu/cs120/">CS 120</a></li>
	   	<li><a href="//www.cs.csub.edu/cs150">CS 150</a></li>
	   	<li><a href="//www.cs.csub.edu/~csclub">CEE/CS Club</a></li>
	   	<li><a href="//www.cs.csub.edu/~ieee-csub">IEEE CSUB Student Branch</a></li>
     </ul>
   </li>
</ul>

</div>


   </div>
  <div id='footer' class='round'>
 <p>
 CEECS Department  | 
 California State University Bakersfield |  SCI Bldg III |  (661)654-3082 |
 http://www.cs.csub.edu

        </p>
      </div>
    </div>
  </body>
</html>

